In [546]:
import os
import re
import baseline_utils
import pandas as pd
import collections as col
from nltk.corpus import sentiwordnet as swn
from nltk.corpus import wordnet as wn
import spacy
from tqdm import tqdm
from sklearn import metrics

In [498]:
nlp = spacy.load('en_core_web_md')

In [579]:
annotations = pd.read_csv('../data/character_relation_annotations.txt.gz', sep='\t')
annotations.head(3)

,annotator,change,title,author,character_1,character_2,affinity,coarse_category,fine_category,detail
0,annotator_1,yes,Don Quixote,Miguel de Cervantes,Sancho Panza,Don Quixote,positive,professional,servant,he ends up taking more authority and advising ...
1,annotator_1,no,Don Quixote,Miguel de Cervantes,Rocinante,Don Quixote,positive,professional,person offering service to client,Rocinante is his horse
2,annotator_1,no,Don Quixote,Miguel de Cervantes,Dulcinea del Toboso,Don Quixote,positive,social,unrequited love interest,NR

In [500]:
annotations.describe()

,annotator,change,title,author,character_1,character_2,affinity,coarse_category,fine_category,detail
count,2170,2170,2170,2170,2170,2170,2170,2170,2170,2170
unique,14,3,109,49,1008,827,4,4,30,530
top,annotator_1,no,War and Peace,William Shakespeare,NR,NR,positive,social,friend,NR
freq,760,1714,20,620,26,29,1120,887,342,1622

In [501]:
# dropping values that have gibberish affinity - might transform this later base on category
annotations = annotations[annotations['affinity'] != 'NR'].copy()

In [502]:
annotations['book_name'] = (annotations['title'] + ' ' + annotations['author']).str.replace("\s", "_")

In [503]:
affinity_mapping = {
    'positive': 1,
    'neutral': 0.5,
    'negative': 0
}
annotations['num_affinity'] = annotations['affinity'].map(lambda aff: affinity_mapping[aff])
annotations['num_affinity'].head(3)

0    1.0
1    1.0
2    1.0
Name: num_affinity, dtype: float64

In [504]:
def avg(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

In [505]:
all_df = pd.DataFrame(columns=['book_name', 'char_1', 'char_2', 'affinity'])
by_book_annotations = col.defaultdict(col.defaultdict)
def add_books_annotations(row):
    book_name = row['book_name']
    char_1, char_2 = sorted([row['character_1'], row['character_2']])
    affinity = row['num_affinity']
    by_book_annotations[book_name][char_1 + ':' + char_2] = (by_book_annotations[book_name][char_1 + ':' + char_2] if (char_1 + ':' + char_2) in by_book_annotations[book_name] else []) + [affinity]

annotations.apply(add_books_annotations, axis=1)

for book in by_book_annotations:
    for pair in by_book_annotations[book]:
        [char_1, char_2] = pair.split(':')
        all_df = all_df.append([{
            'book_name': book, 'char_1': char_1, 'char_2': char_2, 'affinity': avg(by_book_annotations[book][pair])
        }])
        
all_y = all_df['affinity'].copy()
all_X = all_df.drop('affinity', axis=1)

In [506]:
titles = annotations['title'].unique()
authors = [annotations[annotations['title'] == title]['author'][0:1].ravel()[0] for title in titles]
existing_files = []
names = []
for pair in zip(titles, authors):
    title, author = pair
    name = re.sub("\s", "_", '{} {}'.format(title, author))
    names.append(name)
    file = './books/{}.txt'.format(name)
    existing_files.append(os.path.isfile(file))

In [507]:
titles # all books that are used

array(['Don Quixote', 'Little Women', 'Antony and Cleopatra',
       'Sense and Sensibility', 'Henry VIII', 'Richard II', 'Lord Jim',
       'The Count of Monte Cristo', 'The House of the Seven Gables',
       'Typee', 'Timon of Athens', 'The Three Musketeers', 'Emma',
       'Persuasion', 'Oliver Twist', 'The Adventures of Tom Sawyer',
       'A Portrait of the Artist as a Young Man', 'Troilus and Cressida',
       'Hard Times', 'The Republic', 'Uncle Tom&rsquo;s Cabin',
       'Silas Marner', 'King John', 'The American',
       'The Merry Wives of Windsor', "Swann's Way", 'Anna Karenina',
       'The Comedy of Errors', 'Henry IV Part 2', 'The Aeneid',
       'Henry VI Part 3', 'Ulysses', 'The Iliad', 'Paradise Lost',
       'The Merchant of Venice', 'Adam Bede', 'Romeo and Juliet',
       'O Pioneers!', 'Narrative of the Life of Frederick Douglass',
       'Bleak House', 'Henry VI Part 2', 'Madame Bovary', 'War and Peace',
       'Middlemarch', 'Pride and Prejudice', 'Candide', 'The Jungle',
       'Henry VI Part 1', 'Anne of Green Gables',
       'A Midsummer Night&rsquo;s Dream', 'Babbitt',
       'William Shakespeare', 'Cyrano de Bergerac', 'Spanish Tragedy',
       "The Winter's Tale", 'Great Expectations', 'Henry V', 'Dubliners',
       'As You Like It', 'Dr. Jekyll and Mr. Hyde', 'Dracula',
       'The House of Mirth', 'Herland', 'Howards End',
       'A Doll&rsquo;s House', 'Hamlet', 'Hedda Gabler',
       'Heart of Darkness', 'Ghosts', 'Far from the Madding Crowd',
       'Ethan Frome', 'The Last of the Mohicans', 'King Lear',
       'Sister Carrie', 'Northanger Abbey', 'Julius Caesar',
       'This Side of Paradise', 'The Taming of the Shrew',
       'The Jew of Malta', 'Lysistrata', 'Mansfield Park', 'White Fang',
       'Major Barbara', 'The Portrait of a Lady', 'Main Street',
       'Othello', 'Jude the Obscure', 'Kidnapped', 'Measure for Measure',
       'Titus Andronicus', 'The Picture of Dorian Gray',
       'The Turn of the Screw', 'The Trial', 'Twelfth Night',
       'An Ideal Husband', 'A Tale of Two Cities', 'The Tempest',
       'The Scarlet Letter', 'Maggie: A Girl of the Streets',
       'The Two Gentlemen of Verona', 'Macbeth', 'Pygmalion',
       'The Mayor of Casterbridge', "Love's Labours Lost",
       'Much Ado About Nothing', 'The Secret Garden', 'Treasure Island',
       'Siddhartha', 'The Return of the Native'], dtype=object)

In [508]:
len(existing_files), all(existing_files) # if all returns True => we have the book source for every source in dataset

(109, True)

In [509]:
books = [baseline_utils.Book(name) for name in names]

In [510]:
for book in books:
    print(book.name, len(book.characters.meaningful))

Don_Quixote_Miguel_de_Cervantes 238
Little_Women_Louisa_May_Alcott 136
Antony_and_Cleopatra_William_Shakespeare 36
Sense_and_Sensibility_Jane_Austen 61
Henry_VIII_William_Shakespeare 31
Richard_II_William_Shakespeare 24
Lord_Jim_Joseph_Conrad 45
The_Count_of_Monte_Cristo_Alexandre_Dumas 217
The_House_of_the_Seven_Gables_Nathaniel_Hawthorne 32
Typee_Herman_Melville 51
Timon_of_Athens_William_Shakespeare 17
The_Three_Musketeers_Alexandre_Dumas 117
Emma_Jane_Austen 81
Persuasion_Jane_Austen 54
Oliver_Twist_Charles_Dickens 65
The_Adventures_of_Tom_Sawyer_Mark_Twain 39
A_Portrait_of_the_Artist_as_a_Young_Man_James_Joyce 102
Troilus_and_Cressida_William_Shakespeare 28
Hard_Times_Charles_Dickens 45
The_Republic_Plato 33
Uncle_Tom&rsquo;s_Cabin_Harriet_Beecher_Stowe 107
Silas_Marner_George_Eliot 48
King_John_William_Shakespeare 23
The_American_Henry_James 53
The_Merry_Wives_of_Windsor_William_Shakespeare 27
Swann's_Way_Marcel_Proust 98
Anna_Karenina_Leo_Tolstoy 195
The_Comedy_of_Errors_William_Shakespeare 10
Henry_IV_Part_2_William_Shakespeare 45
The_Aeneid_Virgil 134
Henry_VI_Part_3_William_Shakespeare 76
Ulysses_James_Joyce 548
The_Iliad_Homer 160
Paradise_Lost_John_Milton 35
The_Merchant_of_Venice_William_Shakespeare 21
Adam_Bede_George_Eliot 123
Romeo_and_Juliet_William_Shakespeare 27
O_Pioneers!_Willa_Cather 40
Narrative_of_the_Life_of_Frederick_Douglass_Frederick_Douglass 58
Bleak_House_Charles_Dickens 167
Henry_VI_Part_2_William_Shakespeare 82
Madame_Bovary_Gustave_Flaubert 67
War_and_Peace_Leo_Tolstoy 389
Middlemarch_George_Eliot 209
Pride_and_Prejudice_Jane_Austen 65
Candide_Voltaire 33
The_Jungle_Upton_Sinclair 67
Henry_VI_Part_1_William_Shakespeare 27
Anne_of_Green_Gables_L._M._Montgomery 89
A_Midsummer_Night&rsquo;s_Dream_William_Shakespeare 16
Babbitt_Sinclair_Lewis 157
William_Shakespeare_Henry_IV_Part_1 41
Cyrano_de_Bergerac_Edmond_Rostand 19
Spanish_Tragedy_Thomas_Kyd 28
The_Winter's_Tale_William_Shakespeare 15
Great_Expectations_Charles_Dickens 84
Henry_V_William_Shakespeare 35
Dubliners_James_Joyce 140
As_You_Like_It_William_Shakespeare 24
Dr._Jekyll_and_Mr._Hyde_Robert_Louis_Stevenson 12
Dracula_Bram_Stoker 67
The_House_of_Mirth_Edith_Wharton 81
Herland_Charlotte_Perkins_Gilman 11
Howards_End_E._M._Forster 96
A_Doll&rsquo;s_House_Henrik_Ibsen 12
Hamlet_William_Shakespeare 24
Hedda_Gabler_Henrik_Ibsen 24
Heart_of_Darkness_Joseph_Conrad 6
Ghosts_Henrik_Ibsen 9
Far_from_the_Madding_Crowd_Thomas_Hardy 58
Ethan_Frome_Edith_Wharton 23
The_Last_of_the_Mohicans_James_Fenimore_Cooper 36
King_Lear_William_Shakespeare 13
Sister_Carrie_Theodore_Dreiser 75
Northanger_Abbey_Jane_Austen 45
Julius_Caesar_William_Shakespeare 29
This_Side_of_Paradise_F._Scott_Fitzgerald 103
The_Taming_of_the_Shrew_William_Shakespeare 29
The_Jew_of_Malta_Christopher_Marlowe 37
Lysistrata_Aristophanes 12
Mansfield_Park_Jane_Austen 72
White_Fang_Jack_London 26
Major_Barbara_George_Bernard_Shaw 36
The_Portrait_of_a_Lady_Henry_James 61
Main_Street_Sinclair_Lewis 195
Othello_William_Shakespeare 16
Jude_the_Obscure_Thomas_Hardy 56
Kidnapped_Robert_Louis_Stevenson 54
Measure_for_Measure_William_Shakespeare 21
Titus_Andronicus_William_Shakespeare 23
The_Picture_of_Dorian_Gray_Oscar_Wilde 57
The_Turn_of_the_Screw_Henry_James 10
The_Trial_Franz_Kafka 20
Twelfth_Night_William_Shakespeare 19
An_Ideal_Husband_Oscar_Wilde 33
A_Tale_of_Two_Cities_Charles_Dickens 53
The_Tempest_William_Shakespeare 22
The_Scarlet_Letter_Nathaniel_Hawthorne 25
Maggie:_A_Girl_of_the_Streets_Stephen_Crane 17
The_Two_Gentlemen_of_Verona_William_Shakespeare 15
Macbeth_William_Shakespeare 15
Pygmalion_George_Bernard_Shaw 26
The_Mayor_of_Casterbridge_Thomas_Hardy 53
Love's_Labours_Lost_William_Shakespeare 27
Much_Ado_About_Nothing_William_Shakespeare 24
The_Secret_Garden_Frances_Hodgson_Burnett 33
Treasure_Island_Robert_Louis_Stevenson 47
Siddhartha_Hermann_Hesse 128
The_Return_of_the_Native_Thomas_Hardy 49

In [577]:
def longest_name(character):
    names = sorted([name['n'] for name in character['names']],key=len)
    return names[-1]
[longest_name(char) for char in books[0].characters.meaningful[0:10]]

['Pope',
 'Don Jeronimo',
 'Don Juan',
 'Alfonso VI',
 'Quiteria',
 'Trifaldin',
 'CANON',
 'Helen',
 'Dona Christina',
 'Gil Polo']

In [514]:
books[0].tokens[1000:1050]

Skipping line 105415: field larger than field limit (131072)
Skipping line 107383: field larger than field limit (131072)

,paragraphId,sentenceID,tokenId,beginOffset,endOffset,whitespaceAfter,headTokenId,originalWord,normalizedWord,lemma,pos,ner,deprel,inQuotation,characterId
1000,56,1,1012,5850,5859,NN,1010,INCIDENTS,INCIDENTS,incident,NNS,O,pobj,False,-1
1001,57,1,1013,5861,5868,S,1014,CHAPTER,CHAPTER,CHAPTER,NNP,O,nn,False,-1
1002,57,1,1014,5869,5871,N,1012,LI,LI,LI,NNP,O,dep,False,-1
1003,57,1,1015,5872,5877,S,1016,WHICH,WHICH,which,WDT,O,det,False,-1
1004,57,1,1016,5878,5883,S,1014,DEALS,DEALS,deal,NNS,O,dep,False,-1
1005,57,1,1017,5884,5888,S,1021,WITH,WITH,with,IN,O,rel,False,-1
1006,57,1,1018,5889,5893,S,1017,WHAT,WHAT,what,WDT,O,pobj,False,-1
1007,57,1,1019,5894,5897,S,1020,THE,THE,the,DT,O,det,False,-1
1008,57,1,1020,5898,5906,S,1021,GOATHERD,GOATHERD,goatherd,NN,O,nsubj,False,-1
1009,57,1,1021,5907,5911,S,1016,TOLD,TOLD,tell,VBD,O,rcmod,False,-1
1010,57,1,1022,5912,5917,S,1021,THOSE,THOSE,those,DT,O,dobj,False,-1
1011,57,1,1023,5918,5921,S,1024,WHO,WHO,who,WP,O,nsubj,False,-1
1012,57,1,1024,5922,5926,S,1022,WERE,WERE,be,VBD,O,rcmod,False,-1
1013,57,1,1025,5927,5935,N,1030,CARRYING,CARRYING,CARRYING,NNP,O,nn,False,-1
1014,57,1,1026,5936,5939,S,1030,OFF,OFF,OFF,NNP,O,nn,False,-1
1015,57,1,1027,5940,5943,S,1030,DON,DON,DON,NNP,O,nn,False,-1
1016,57,1,1028,5944,5951,NN,1030,QUIXOTE,QUIXOTE,QUIXOTE,NNP,O,nn,False,-1
1017,58,1,1029,5953,5960,S,1030,CHAPTER,CHAPTER,CHAPTER,NNP,O,nn,False,-1
1018,58,1,1030,5961,5964,N,1024,LII,LII,LII,NNP,O,dobj,False,-1
1019,58,1,1031,5965,5967,S,1024,OF,OF,of,IN,O,prep,False,-1
1020,58,1,1032,5968,5971,S,1033,THE,THE,the,DT,O,det,False,-1
1021,58,1,1033,5972,5979,S,1031,QUARREL,QUARREL,quarrel,NN,O,pobj,False,-1
1022,58,1,1034,5980,5984,S,1037,THAT,THAT,that,WDT,O,dobj,False,-1
1023,58,1,1035,5985,5988,S,1036,DON,DON,DON,NNP,PERSON,nn,False,66
1024,58,1,1036,5989,5996,S,1037,QUIXOTE,QUIXOTE,QUIXOTE,NNP,PERSON,nsubj,False,66
1025,58,1,1037,5997,6000,S,1033,HAD,HAD,have,VBD,O,rcmod,False,-1
1026,58,1,1038,6001,6005,S,1037,WITH,WITH,with,IN,O,prep,False,-1
1027,58,1,1039,6006,6009,S,1040,THE,THE,the,DT,O,det,False,-1
1028,58,1,1040,6010,6018,NaN,1038,GOATHERD,GOATHERD,goatherd,NN,O,pobj,False,-1
1029,58,1,1041,6018,6019,S,1014,",",",",",",",",O,punct,False,-1
1030,58,1,1042,6020,6028,N,1043,TOGETHER,TOGETHER,together,RB,O,dep,False,-1
1031,58,1,1043,6029,6033,S,1014,WITH,WITH,with,IN,O,prep,False,-1
1032,58,1,1044,6034,6037,S,1046,THE,THE,the,DT,O,det,False,-1
1033,58,1,1045,6038,6042,S,1046,RARE,RARE,rare,NN,O,nn,False,-1
1034,58,1,1046,6043,6052,S,1043,ADVENTURE,ADVENTURE,adventure,NN,O,pobj,False,-1
1035,58,1,1047,6053,6055,S,1046,OF,OF,of,IN,O,prep,False,-1
1036,58,1,1048,6056,6059,S,1049,THE,THE,the,DT,O,det,False,-1
1037,58,1,1049,6060,6069,NaN,1047,PENITENTS,PENITENTS,penitent,NNS,O,pobj,False,-1
1038,58,1,1050,6069,6070,S,1014,",",",",",",",",O,punct,False,-1
1039,58,1,1051,6071,6076,S,1014,WHICH,WHICH,which,WDT,O,appos,False,-1
1040,58,1,1052,6077,6081,S,1051,WITH,WITH,with,IN,O,prep,False,-1
1041,58,1,1053,6082,6084,N,1054,AN,AN,a,DT,O,det,False,-1
1042,58,1,1054,6085,6096,S,1052,EXPENDITURE,EXPENDITURE,expenditure,NNS,O,pobj,False,-1
1043,58,1,1055,6097,6099,S,1054,OF,OF,of,IN,O,prep,False,-1
1044,58,1,1056,6100,6105,S,1058,SWEAT,SWEAT,SWEAT,NNP,O,nn,False,-1
1045,58,1,1057,6106,6108,S,1058,HE,HE,he,PRP,O,dep,False,66
1046,58,1,1058,6109,6116,S,1055,BROUGHT,BROUGHT,BROUGHT,NNP,O,pobj,False,-1
1047,58,1,1059,6117,6119,S,1052,TO,TO,to,TO,O,dep,False,-1
1048,58,1,1060,6120,6121,S,1063,A,A,a,DT,O,det,False,-1
1049,58,1,1061,6122,6127,S,1063,HAPPY,HAPPY,happy,JJ,O,amod,False,-1

In [515]:
books[0].characters.meaningful[13]

{'NNPcount': 10,
 'agent': [{'i': 8136, 'w': 'knew'},
  {'i': 8213, 'w': 'tried'},
  {'i': 8306, 'w': 'sent'},
  {'i': 8366, 'w': 'demanded'},
  {'i': 8419, 'w': 'agreed'}],
 'g': 0,
 'id': 15,
 'mod': [],
 'names': [{'c': 10, 'n': 'Dey'}],
 'patient': [],
 'poss': [],
 'speaking': []}

In [540]:
def book_name_to_X_name(book_name, book_char, all_X):
    subset = all_X[all_X['book_name'] == book_name]
    present_chars = pd.concat([subset['char_1'], subset['char_2']]).unique()
    aliases = set([names['n'] for names in book_char['names']])
    set_intersection = set(present_chars) & set(aliases)
    name = None
    if len(set_intersection) > 0:
        if len(set_intersection) > 1:
            print("WARNING: {} might have multiple aliases: {}".format(longest_name(book_char), list(set_intersection)))
        name = set_intersection.pop()
    else:
        for alias in aliases:
            for present_char in present_chars:
                if alias in present_char or present_char in alias:
                    name = present_char
    return name or "_" + longest_name(book_char)

In [541]:
def extract_relations_from(book, paragraphIds, meaningful_ids):
    relations = col.defaultdict(list)

    for paragraphId in paragraphIds:
        subset = book.tokens[(book.tokens['paragraphId'] == paragraphId)]
        subset_charIds = subset[subset['characterId'].isin(meaningful_ids)]['characterId'].unique()
        if len(subset_charIds) > 1:
            sorted_chars = sorted(subset_charIds)
            for char1 in sorted_chars:
                starting_index = sorted_chars.index(char1) + 1
                for char2 in sorted_chars[starting_index:]:
                    key = str(char1) + '<=>' + str(char2)
                    relations[key].append(paragraphId)
    return relations

def senti_pos(pos):
    if (pos == 'VERB'):
        return wn.VERB
    if (pos == 'NOUN'):
        return wn.NOUN
    if (pos == 'ADJ'):
        return wn.ADJ
    if (pos == 'ADV'):
        return wn.ADV
    return None

def get_avg_sent(word, pos = None):
    synset = list(swn.senti_synsets(word, senti_pos(pos)))[0:5]
    count = len(synset)
    if (count == 0):
        return 0
    total_pos = 0
    total_neg = 0
    for syn in synset:
        total_pos += syn.pos_score()
        total_neg += syn.neg_score()
    return (total_pos - total_neg) / count


def get_relation(book, paragraphIds):
    related_tokens = ' '.join(book.tokens[book.tokens['paragraphId'].isin(paragraphIds)]['lemma'].fillna('').ravel())
    doc = nlp(related_tokens);
    tks = list(doc)
    sent = 0
    for token in tks:
        sent += get_avg_sent(str(token), token.pos_)
    return (sent / len(tks))

def analyze_book(book):
    results = pd.DataFrame(columns=['bookname', 'char_1', 'char_2', 'affinity'])
    meaningful_ids = [char['id'] for char in book.characters.meaningful]
    paragraphIds = book.tokens['paragraphId'].unique()
    
    map_id_to_char = {}
    for id in meaningful_ids:
        map_id_to_char[id] = book.characters.meaningful[meaningful_ids.index(id)]
    
    relations = extract_relations_from(book, paragraphIds, meaningful_ids)
    to_delete = []
    for key, value in relations.items():
        if len(value) < 6:
            to_delete.append(key)
    for key in to_delete:
        del relations[key] 
    for key, parIds in sorted(relations.items(), key=lambda pair: -len(pair[1])):
        id1, id2 = [int(s) for s in key.split("<=>")]
        relation = get_relation(book, parIds) * 50 + 0.5
        results = results.append([{
            'bookname': book.name, 'char_1': id1, 'char_2': id2, 'affinity': relation
        }])
    return results, map_id_to_char

In [542]:
def predict(pr, Xs):
    def get_val(row):
        try:
#         print(row)
            return pr[((pr['bookname'] == row['book_name']) & (pr['char_1'] == row['char_1']) & (pr['char_2'] == row['char_2'])) |
                   ((pr['bookname'] == row['book_name']) & (pr['char_2'] == row['char_1']) & (pr['char_1'] == row['char_2']))][0:1]['affinity'][0]
        except:
            return 0.5
    return Xs.apply(get_val, axis=1)
def create_predictor_for(books):
    predictor = pd.DataFrame(columns=['bookname', 'char_1', 'char_2', 'affinity'])
    for book in tqdm(books, desc='Looping over books'):
        single_book_res, map_id_to_char = analyze_book(book)
        single_book_res['char_1'] = single_book_res['char_1'].apply(lambda id: book_name_to_X_name(book.name, map_id_to_char[id], all_X))
        single_book_res['char_2'] = single_book_res['char_2'].apply(lambda id: book_name_to_X_name(book.name, map_id_to_char[id], all_X))
        predictor = predictor.append(single_book_res)
    return predictor

In [543]:
predictor = create_predictor_for(books)

Looping over books:   0%|          | 0/109 [00:00<?, ?it/s]
Looping over books:   4%|▎         | 4/109 [02:59<1:20:22, 45.93s/it]

WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']
WARNING: Mrs. John Dashwood might have multiple aliases: ['Mrs. Dashwood', 'John Dashwood']

Looping over books:   6%|▌         | 6/109 [03:24<49:54, 29.07s/it]  Skipping line 39112: field larger than field limit (131072)
Looping over books:   6%|▋         | 7/109 [03:53<49:18, 29.01s/it]Skipping line 46957: field larger than field limit (131072)
Looping over books:  10%|█         | 11/109 [05:04<26:10, 16.03s/it]Skipping line 4798: field larger than field limit (131072)
Looping over books:  11%|█         | 12/109 [05:20<25:54, 16.02s/it]Skipping line 2497: field larger than field limit (131072)
Skipping line 81788: field larger than field limit (131072)
Skipping line 92344: unexpected end of data
Looping over books:  12%|█▏        | 13/109 [06:26<49:28, 30.92s/it]Skipping line 2842: field larger than field limit (131072)
Looping over books:  14%|█▍        | 15/109 [07:28<48:11, 30.76s/it]Skipping line 44550: unexpected end of data
Looping over books:  17%|█▋        | 19/109 [08:56<41:23, 27.59s/it]Skipping line 14804: field larger than field limit (131072)
Looping over books:  18%|█▊        | 20/109 [09:06<32:55, 22.20s/it]Skipping line 109486: field larger than field limit (131072)
Skipping line 110294: unexpected end of data
Looping over books:  19%|█▉        | 21/109 [09:25<31:27, 21.44s/it]Skipping line 44578: unexpected end of data
Looping over books:  21%|██        | 23/109 [09:33<17:43, 12.36s/it]Skipping line 67676: field larger than field limit (131072)
Looping over books:  23%|██▎       | 25/109 [10:02<18:44, 13.39s/it]Skipping line 30792: field larger than field limit (131072)
Skipping line 63438: field larger than field limit (131072)
Skipping line 108741: field larger than field limit (131072)
Skipping line 152384: field larger than field limit (131072)
Looping over books:  24%|██▍       | 26/109 [10:32<25:27, 18.40s/it]Skipping line 130880: field larger than field limit (131072)
Looping over books:  25%|██▍       | 27/109 [11:16<35:26, 25.93s/it]Skipping line 5430: field larger than field limit (131072)
Looping over books:  26%|██▌       | 28/109 [11:19<25:56, 19.22s/it]Skipping line 12395: field larger than field limit (131072)
Looping over books:  27%|██▋       | 29/109 [11:21<18:42, 14.03s/it]Skipping line 37819: field larger than field limit (131072)
Looping over books:  29%|██▉       | 32/109 [12:20<27:41, 21.58s/it]Skipping line 5347: field larger than field limit (131072)
Skipping line 82123: unexpected end of data
Looping over books:  30%|███       | 33/109 [12:43<27:55, 22.05s/it]

WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']
WARNING: Hector son of Priam might have multiple aliases: ['Priam', 'Hector']

Looping over books:  32%|███▏      | 35/109 [13:13<24:19, 19.73s/it]Skipping line 34053: field larger than field limit (131072)
Skipping line 75137: field larger than field limit (131072)
Looping over books:  35%|███▍      | 38/109 [14:21<23:09, 19.57s/it]Skipping line 44495: unexpected end of data
Looping over books:  38%|███▊      | 41/109 [14:54<15:26, 13.62s/it]Skipping line 65566: unexpected end of data
Looping over books:  39%|███▊      | 42/109 [15:02<13:26, 12.04s/it]Skipping line 284551: field larger than field limit (131072)
Looping over books:  39%|███▉      | 43/109 [16:18<34:09, 31.05s/it]Skipping line 27375: field larger than field limit (131072)
Skipping line 182087: unexpected end of data
Looping over books:  41%|████▏     | 45/109 [18:00<43:30, 40.79s/it]Skipping line 24012: unexpected end of data
Looping over books:  42%|████▏     | 46/109 [18:01<30:19, 28.88s/it]Skipping line 82917: field larger than field limit (131072)
Skipping line 129427: unexpected end of data
Looping over books:  44%|████▍     | 48/109 [18:43<24:07, 23.74s/it]Skipping line 51360: unexpected end of data
Looping over books:  46%|████▌     | 50/109 [19:09<17:45, 18.06s/it]Skipping line 74117: unexpected end of data
Looping over books:  49%|████▊     | 53/109 [19:26<08:39,  9.27s/it]

WARNING: Le Bret et Ragueneau might have multiple aliases: ['Le Bret', 'Ragueneau']
WARNING: Le Bret et Ragueneau might have multiple aliases: ['Le Bret', 'Ragueneau']

Looping over books:  51%|█████▏    | 56/109 [19:44<06:50,  7.75s/it]

WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']
WARNING: Mrs. Joe Gargery might have multiple aliases: ['Joe Gargery', 'Mrs. Joe']

Skipping line 1810: field larger than field limit (131072)
Looping over books:  52%|█████▏    | 57/109 [19:46<05:15,  6.06s/it]Skipping line 58447: unexpected end of data
Looping over books:  54%|█████▍    | 59/109 [19:56<04:28,  5.37s/it]Skipping line 12426: field larger than field limit (131072)
Looping over books:  55%|█████▌    | 60/109 [20:00<03:52,  4.75s/it]Skipping line 99714: field larger than field limit (131072)
Looping over books:  56%|█████▌    | 61/109 [20:22<07:53,  9.87s/it]Skipping line 76720: field larger than field limit (131072)
Skipping line 80034: field larger than field limit (131072)
Looping over books:  58%|█████▊    | 63/109 [20:53<08:56, 11.67s/it]Skipping line 63897: unexpected end of data
Looping over books:  63%|██████▎   | 69/109 [21:31<03:44,  5.61s/it]Skipping line 66943: field larger than field limit (131072)
Skipping line 68239: field larger than field limit (131072)
Skipping line 84704: unexpected end of data
Looping over books:  65%|██████▌   | 71/109 [23:57<21:39, 34.19s/it]

WARNING: Mrs. Ned Hale might have multiple aliases: ['Mrs. Ned Hale', 'Ned Hale']

Skipping line 53969: field larger than field limit (131072)
Skipping line 67972: unexpected end of data
Looping over books:  67%|██████▋   | 73/109 [24:17<13:23, 22.33s/it]Skipping line 111575: unexpected end of data
Looping over books:  70%|██████▉   | 76/109 [24:55<07:56, 14.44s/it]Skipping line 28824: field larger than field limit (131072)
Looping over books:  72%|███████▏  | 78/109 [25:56<12:50, 24.84s/it]Skipping line 33035: unexpected end of data
Looping over books:  76%|███████▌  | 83/109 [43:08<1:08:15, 157.51s/it]Skipping line 12473: field larger than field limit (131072)
Skipping line 128921: field larger than field limit (131072)
Skipping line 155824: unexpected end of data
Looping over books:  77%|███████▋  | 84/109 [45:40<1:05:00, 156.03s/it]Skipping line 103611: unexpected end of data
Looping over books:  78%|███████▊  | 85/109 [46:01<46:09, 115.39s/it]  Skipping line 13516: field larger than field limit (131072)
Looping over books:  81%|████████  | 88/109 [46:23<15:24, 44.04s/it] Skipping line 31448: unexpected end of data
Looping over books:  87%|████████▋ | 95/109 [47:21<02:22, 10.17s/it]Skipping line 96233: unexpected end of data
Looping over books:  91%|█████████ | 99/109 [47:40<00:55,  5.53s/it]Skipping line 21496: field larger than field limit (131072)
Looping over books:  94%|█████████▍| 103/109 [48:07<00:43,  7.31s/it]

WARNING: Elizabeth-Jane Newson might have multiple aliases: ['Elizabeth-Jane Newson', 'Newson']
WARNING: Elizabeth-Jane Newson might have multiple aliases: ['Elizabeth-Jane Newson', 'Newson']
WARNING: Elizabeth-Jane Newson might have multiple aliases: ['Elizabeth-Jane Newson', 'Newson']
WARNING: Elizabeth-Jane Newson might have multiple aliases: ['Elizabeth-Jane Newson', 'Newson']

Looping over books:  95%|█████████▌| 104/109 [48:18<00:41,  8.21s/it]Skipping line 10692: field larger than field limit (131072)
Looping over books:  96%|█████████▋| 105/109 [48:22<00:27,  6.92s/it]Skipping line 50498: unexpected end of data
Looping over books:  99%|█████████▉| 108/109 [48:30<00:03,  3.95s/it]Skipping line 83431: unexpected end of data
Looping over books: 100%|██████████| 109/109 [48:41<00:00,  6.07s/it]

In [545]:
y_predicted = predict(predictor, all_X)

In [549]:
y_predicted.clip(0, 1, inplace=True)

In [551]:
metrics.mean_squared_error(y_predicted, all_y)

0.19005082472622473

In [565]:
def score_to_label(val):
    if val <= 0.33:
        return 'negative'
    if val <= 0.66:
        return 'neutral'
    return 'positive'

In [572]:
print(metrics.classification_report(all_y.map(score_to_label), y_predicted.map(score_to_label)))

             precision    recall  f1-score   support

   negative       0.34      0.11      0.17       397
    neutral       0.22      0.87      0.36       313
   positive       0.61      0.09      0.16       759

avg / total       0.46      0.26      0.20      1469

In [576]:
print(metrics.confusion_matrix(all_y.map(score_to_label), y_predicted.map(score_to_label), labels=('negative', 'neutral', 'positive')))

[[ 44 325  28]
 [ 24 273  16]
 [ 62 627  70]]